---
const imagenes = [
  {
    name: 'jose_inicio'
  },
  {
    name: 'pedro_inicio'
  },
  {
    name: 'nn_inicio'
  }
]

const backImages = [
  {
    name: 'digo_inicio'
  },
  {
    name: 'jairo_inicio'
  }
]
---

<main
  class="h-screen flex justify-center lg:items-end items-center py-10 relative"
>
  <div class="flex justify-center items-center flex-col lg:mt-0 mt-40">
    <div class="flex justify-center items-center flex-col-reverse relative">
      <div
        class="flex justify-center items-center absolute -translate-y-24 z-10 pointer-events-auto"
      >
        {
          backImages.map((img) => (
            <figure class="clip-path">
              <img
                src={`${img.name}.png`}
                draggable="false"
                alt=""
                class="filtro-sombra imagen-efecto cursor-pointer 2xl:h-[450px] 2xl:w-[320px] xl:h-[350px] xl:w-[250px] h-[200px] sombra"
              />
            </figure>
          ))
        }
      </div>
      <div class="flex justify-center items-end z-20 pointer-events-none ml-10">
        {
          imagenes.map((img) => (
            <figure class="clip-path">
              <img
                src={`${img.name}.png`}
                draggable="false"
                alt=""
                class={`filtro-sombra h-[150px] min-w-[150px] min-h-[240px] ${img.name === 'pedro_inicio' ? '2xl:w-[380px] 2xl:h-[500px] xl:w-[280px] xl:h-[350px]' : 'imagen-efecto 2xl:h-[450px] 2xl:min-w-[350px] xl:w-[220px] xl:h-[300px]'} cursor-pointer sombra pointer-events-auto`}
              />
            </figure>
          ))
        }
      </div>
    </div>
    <div
      class="flex justify-center items-center flex-col-reverse font-Friends lg:gap-6 xl:gap-2 relative z-10 mt-2"
    >
      <h1 class="xl:text-[87px] 2xl:text-[130px] 2xl:leading-[120px] xl:leading-[80px] text-[#ED0505] text-center text-[71px] leading-[70px]">
        CAMPEÓN
      </h1>
      <span class="xl:text-2xl 2xl:text-4xl text-[20px] text-center text-white z-50">
        ESTAMOS EN BUSCA DEL PRÓXIMO
      </span>
    </div>
  </div>
</main>

<style>
  main {
    position: relative;
    overflow: hidden;
  }

  main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/boxing_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: 1;
  }

  main > div {
    position: relative;
    z-index: 10;
  }

  .imagen-efecto {
    filter: grayscale(100%);
    opacity: 0.95;
    transition: all 0.3s ease;
  }

  .imagen-efecto:hover {
    transform: translateY(-40px);
    filter: grayscale(0%);
    opacity: 1;
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .pointer-events-auto {
    pointer-events: auto;
  }

  .clip-path img {
    clip-path: polygon(
      30% 0%,
      70% 0%,
      80% 20%,
      100% 20%,
      100% 80%,
      80% 100%,
      20% 100%,
      0% 80%,
      0% 20%,
      20% 0%
    );
  }
</style>
